.control-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .control-panel__card {
    background-color: var(--clr-neutral-100);
    padding: 1rem;
    // border: 1px solid var(--clr-neutral-900);
    border-radius: 0.3125rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .control-panel__top.control-panel__card {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .control-panel__top {
    .control-panel__top-card {
      min-height: 100%;

      &:hover {
        background-color: var(--clr-primary-400);
        color: var(--clr-neutral-100);
      }

      .control-panel__top-heading {
        margin-bottom: 1rem;
        font-size: clamp(1rem, 1.3vw, 2rem);
      }

      .control-panel__top-number {
        font-size: clamp(1.5rem, 3vw, 5rem);
        text-align: right;
      }
    }
  }

  .control-panel__main {
    .control-panel__card-container {
      display: flex;
      gap: 2rem;

      & > * {
        height: 0%;
        flex: 1;
      }

      @media screen and (max-width: 992px) {
        display: flex;
        flex-direction: column;
      }

      .control-panel__list-component {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .control-panel__list-heading {
          font-size: clamp(1.5rem, 3vw, 5rem);
          text-align: center;
        }

        .control-panel__list-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.3125rem;

          .control-panel__list-user {
            display: grid;
            grid-template-columns: 1fr 1fr 9fr 1fr;
            align-items: center;
            gap: 0.625rem;

            @media (max-width: 667px) {
              grid-template-columns: 1fr;
              place-items: center;
            }
          }
        }

        .control-panel__list-more {
          font-size: clamp(0.9rem, 1.2vw, 1.3rem);
        }
      }
    }
  }

  .control-panel__bottom {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .control-panel__chart-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 500px;
      padding: 2rem;
    }
  }
}
