.chat-message {
  max-width: 95%;
  margin-block: 0.8rem;

  display: flex;
  align-items: flex-end;
  gap: 0.625rem;

  &.you {
    margin-left: auto;
  }

  .chat-message-sender__image {
    flex-shrink: 0;
  }

  .chat-message-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    &.you {
      align-items: flex-end;
    }
    &.other {
      align-items: flex-start;
    }

    &.chat-message-message.you {
      align-items: flex-end;
    }
    // &.chat-message-message.other {
    //   align-items: flex-start;
    // }

    .chat-message-message {
      width: fit-content;
      padding: 0.7rem;
      border-radius: 0.5rem;
      word-break: break-word;

      &.you {
        background-color: var(--clr-primary-400);
      }

      &.other {
        background-color: var(--clr-secondary-400);
      }

      a {
        text-decoration: none;
        color: var(--clr-neutral-100);
      }

      .chat-message-message__text-container {
        display: flex;
        flex-direction: column;
        gap: 0.3125rem;

        .chat-message-message__text {
          line-height: 1.5;
          align-self: flex-end;
        }
      }

      @media (max-width: 961px) {
        padding: 0.625rem;
      }
    }
  }

  @media (max-width: 961px) {
    margin-block: 0.625rem;
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
