.chat-message {
  max-width: 95%;
  margin-block: 0.8rem;

  display: flex;
  align-items: flex-end;
  gap: 0.625rem;

  &.you {
    margin-left: auto;
  }

  .chat-message-sender__image {
    flex-shrink: 0;
  }

  .chat-message-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .chat-message-sender__name {
    }

    .chat-message-message {
      width: fit-content;
      padding: 1rem;
      border: 1px solid black;
      border-radius: 0.5rem;
      word-break: break-word;

      &.you {
        background-color: var(--clr-primary-400);
      }

      &.other {
        background-color: var(--clr-secondary-400);
      }

      .chat-message-message__text {
        line-height: 1.5;
      }
    }
  }
}
