.edit-user-role {
  .edit-user-role__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .edit-user-role__input-container {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      .edit-user-role__checkbox-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.625rem;
      }
    }
  }

  .edit-user-role__button-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    button {
      width: 25%;
    }
  }
}
