.admin-groups-list {
  .admin-groups-list__component {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .admin-groups-list__top {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      .admin-groups-list__list-heading {
        font-size: clamp(1.5rem, 3vw, 5rem);
        text-align: center;
      }

      .admin-groups-list__list-search {
        width: 30%;
        min-width: 250px;
        padding: 0.625rem 1rem;
        border: 1px solid var(--clr-primary-400);
        border-radius: 0.625rem;
      }
    }

    .admin-groups-list__main {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
    }
  }
}

.control-panel__card {
  background-color: var(--clr-neutral-100);
  padding: 1rem;
  // border: 1px solid var(--clr-neutral-900);
  border-radius: 0.3125rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
