.role-member {
  margin: 0.3125rem;

  display: flex;
  align-items: center;
  gap: 0.625rem;

  .role-member__info {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.625rem;

    img {
      cursor: pointer;
    }
  }
}
