.group-list {
  display: grid;
  grid-template-columns: 1fr 1fr 9fr 1fr;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;

  @media (max-width: 667px) {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .group-list__group-name {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.group-list__member-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  .group-list__member {
    display: flex;
    align-items: center;
    gap: 0.625rem;
  }
}
