.user-card {
  z-index: 999;
  position: relative;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  transition: all 150ms ease-out;

  &:hover {
    padding: 0.3125rem;
    border-radius: 0.5rem;
    background-color: var(--clr-neutral-100);
  }

  &.clicked {
    background-color: var(--clr-neutral-100);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .user-card__user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    .user-card__image-container {
      position: relative;

      .user-card__has-notif {
        color: red;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    span {
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .user-card__user-settings {
    width: 100%;
    padding: 0.625rem 0.3125rem;
    // border: 1px solid var(--clr-primary-400);
    // border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
  }
}
