.layout {
  overflow: hidden;

  .main {
    height: calc(100vh - 64px);
    padding: 0 1rem 1rem;
    display: flex;
    gap: 1rem;

    .left,
    .right {
      width: 360px;
    }

    .middle {
      flex: 1;
    }

    @media (max-width: 961px) {
      .left,
      .right {
        width: 100%;
      }
    }
  }
}
