.button {
  padding: 0.625rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;

  &.secondary-btn {
    background-color: var(--clr-error-400);
  }
  &.button-disabled {
    opacity: 0.75;
  }
  &.green-btn {
    background-color: var(--clr-secondary-400);
  }
}
